.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}
.cart-item:last-child {
  border-bottom: none;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.amount {
  width: 2rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
