.edit {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem;
}
.edit p {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #464646;
}

.btn {
  margin-left: 7rem;
}

.textarea {
  width: 320px;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}
.textarea:focus {
  outline: none;
  border-color: #967e76;
  background: #dbd0cc;
}
