.content-main {
  padding: 30px 3%;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.select {
  border-radius: 0.25rem;
  height: 2rem;
  width: 6rem;
  outline: none;
  padding-left: 0.5rem;
}
