.button {
  font: inherit;
  border: none;
  background-color: #bb9c84;
  color: white;
  cursor: pointer;
  min-width: 100px;
  padding: 0.7rem 0.4rem;
  border-radius: 10px;
  font-weight: bold;
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover,
.button:active {
  background-color: #8a4c33;
}

.button:focus {
  outline: none;
}
